.forms{
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
}
.aaa{
    margin-left: 25%;
    margin-top: 20px;
}
.table{
    color: #ffffff;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
}
.movie{
    color:#d9534f
}